@model IEnumerable<EAD_Project.Models.FEEDBACK>


 <h1 style=" margin-left: 250px">List of FeedBacks</h1>
                        <table style=" margin-left: 250px" cellspacing="15" cellpadding="15" border="1">
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>SUBJECT</th>
                                <th>MESSAGE</th>
                                <td>REMOVE</td>
                            </tr>

                            @foreach(var u in Model)
                            {
                                <tr>
                                <td>@u.Id   </td>
                                <td>@u.name    </td>
                                <td>@u.email   </td>
                                <td>@u.subject    </td>
                                <td>@u.message   </td> 
                               <td>@Html.ActionLink("Remove", "remove_feedback",new { id =u.Id })</td>
                                                      
                             
                            </tr>

                                
                            }
                        </table>

